<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
 <body class=bg-gradient-to-r from-blue-500 to-purple-600 min-h-screen">

    <header class="text-blue-600 bg-white py-6 px-4">
      <div class="max-w-7xl mx-auto flex items-center justify-between ">
        <h1 class="text-4xl font-bold">Stock Simulator</h1>
    
        <a id="Stocks view" onclick = "window.location.href= tailwind.html" class="bg-white text-blue-600 px-6 py-3 rounded-lg text-lg font-medium hover:bg-gray-200 border-2">
          Stocks view
        </a>
      </div>
    </header>

    
    <div class = "bg-blue-300 p-20 m-0 border-2 rounded-2xl">
      <h1 class="text-4xl ">
        1. Какво е акция и какъв е смисълът от нея? -
        <p class = "text-3xl font-bold">
           Акцията сама по себе си е финансов инструмент, който представлява дял от собствеността в една компания. При купуването на акция вие ставате акционер (собственик в известен смисъл) в тази компания, като това идва с известни привилегии - изплащане на дивиденти, право на глас и на капиталова печалба.
        </p>
      </h1>
    </div>
    
     <div class = "bg-gray-300 p-20 m-0 border-2 rounded-2xl">
      <h1 class="text-4xl text-right ">
        2.Какво предлага NewStock?
        <p class = "text-3xl font-bold">
          Нашият website предоставя графики за 20 от най-големите компании на пазара и действителните стойности на техните акции по дата. Също така може да се наблюдава как действителни събития, отразени в статии, влияят върху тези стойности. 
        </p>
      </h1>
    </div>
  
      <div class = "bg-blue-300 p-20 m-0 border-2 rounded-2xl">
      
        <p class = "text-3xl font-bold">
          3. Стига толкова приказки, не губи повече време и се потопи в света на инвестициите в акции!
        </p>
      <br>
      <button id="transfer" class ="bg-yellow-300 text-blue-600 px-6 py-3 rounded-lg text-lg font-medium hover:bg-yellow-400 border-2">Go to stock viewer</button>
    </div>

<script>
  const btn0 = document.getElementById('Stocks view');
   btn0.onclick = function() {
    const string =`/<%= stockdata.ticker %>/<%= timePeriod%>`;
      window.location.href=string;
};

   const btn = document.getElementById('transfer');
   btn.onclick = function() {
    const string =`/<%= stockdata.ticker %>/<%= timePeriod%>`;
      window.location.href=string;
};
</script>
    
</body>
</html>
